.preloader-center {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.centered-btn {
  align-self: center;
}

.categories {
  .link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.60);

    &:hover {
      color: rgba(0, 0, 0, 0.80);
    }
  }
  .active-link {
    color: #1976d2;

    &:hover {
      color: #1976d2;
    }
  }
}
