.categories-list {
  height: 100%;
  .MuiButton-label {
    text-align: left;
  }
  .full-width-btn {
    justify-content: space-between;
    transition: all .3s;
  }
  .active {
    box-shadow: 0 0 0 1px #ef6c00;
    border-radius: 3px;
  }
}