.category-creator-wrapper {
  margin-bottom: 30px;
  .category-creator-form {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .add-category-btn {
      margin: 0 15px;
    }
  }
}
