.preloader-center {
  display: 'flex';
  justify-content: 'center';
  padding-top: 80px;
}
.product-creator {
  padding: 0 35px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}