.preloader-center {
  display: 'flex';
  justify-content: 'center';
  padding-top: 80px;
}
.form-wrapper {
  height: calc(100% + 200px);
  padding: 0 35px 35px 35px;
  margin-bottom: 30px;
  .add-product-form {
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    .add-product-btn {
      align-self: start;
    }
  }
}
