.categories-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  input[type="radio"].with-gap:checked+span:after {
    background-color: #1565c0;
  }
  input[type="radio"]:checked+span {
    color: #1e88e5;
  }
  input[type="radio"]:checked+span:after,
  input[type="radio"].with-gap:checked+span:before,
  input[type="radio"].with-gap:checked+span:after {
    border-color:#1565c0;
  }
}