.access-change-panel {
  .avatar-blue {
    background-color: #0e4686;
  }
  .avatar-green {
    background-color: #18500f;
  }
  .avatar-red {
    background-color: #7a0404;
  }
  .avatar-orange {
    background-color: #ef6c00;
  }
}
