.catalog-wrapper {
  margin-top: 95px;
  width: calc(100% - 16px);
  padding: 5px;
  .MuiDrawer-paper {
    position: static;
    width: 100%;
    border-radius: 4px;
    min-height: 360px;
  }
  .products-counter {
    margin: 15px;
  }
  .buttons-wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 100px;
    margin: 15px;
  }
}