
.popper-content {
  padding: 2px 15px;
}
.auth-page {
  .title {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .container {
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form-wrapper {
      position: relative;
      background-color: #FFFFFF;
      border-radius: 10px;
      padding: 35px;
      min-height: 350px;
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      .auth-input {
        width: 90%;
      }
      .button-wrapper {
        margin-top: 25px;
        display: flex;
        justify-content: center;
      }
    }
    .test-info-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
