.cards-list {
  .card-action {
    display: flex;
    justify-content: space-between;
    justify-items: center;

    .amount {
      line-height: 2.1;
    }
  }
  .btn {
    padding: 0 30px;
  }
  .card .card-image img {
    object-fit: contain;
    height: 250px;
  }
}