.my-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 1050;
  display: flex;
  justify-content: center;
  align-items: center;

  .shopping-cart {
    background-color: #FFFFFF;
    width: 55%;
  }
}

.my-modal .modal-actions {
  .modal-btn-margin {
    margin: 6px 10px;
  }
}