.nav-bar {
  padding: 10px 0px;
  background-color: #FFFFFF;
  z-index: 5;
  margin-bottom: 15px;
  .tool-bar {
    display: flex;
    justify-content: space-between;
  }
  .search-wrapper {
    min-width: 40%;
  }
  .phones-wrapper {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }
}

.mobile-menu {
  width: 100%;
  margin-top: 60px;
}

.body-container-for-modal {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 60%;
  min-height: 440px;
}
